body {
    height: 100%;
    width: 100%;
}

.bts-image {
    width: 40%;
    float: left;
    position: relative;
    left: 5%;
}

.bts-title {
    margin: 5% 0% 0% 8.5%;
    padding-bottom: 1%;
    font-size: 300%;
}

.bts-content {
    float: right;
    position: relative;
    right: 15%;
}

.bts-image:hover {
    opacity: 0.5;
}
