body {
    background-color: black;
    color: #ffffff;
}

.lat-text{
    margin-left: 2%;
    font-size: 350%;
}

.long-text {
    margin-left: 2%;
    font-size: 350%;
}

.main-name{
    font-size: 600%;
    margin-left: 50%;
}


.main-content {
    float: right;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    position: relative;
}

.image-container {

}

.main-image{
    border-radius: 15px;
}

.about-me {
    margin-right: 10%;
    text-align: center;
}

.main-body {
    margin: 0 auto;
}