.App {
  text-align: center;
}

.background-image {
  width: 100%;
  position: absolute;
  margin-top: -7%;
}

.links{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.nav-link {
  color:#ffffff;
}

.nav-link:hover{
  color:  #7a1712;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}
